@{ 
    string method = ViewBag.Method;
    List<SelectListItem> prem = ViewBag.Premios;
    List<SelectListItem> rango = ViewBag.Rangos;
}
@model Incentivapp.Models.Medicion
<div class="row text-center">
    <div class="col-sm-8 offset-sm-2">
        <h2>@ViewBag.Msg</h2>
        <hr />
        @Html.ValidationSummary()
        @using (Html.BeginForm(method, "Medicion", FormMethod.Post))
    {
        if (Model != null)
        {
            @Html.HiddenFor(x => x.idMedicion);
    }
    <div class="form-group row">
        @Html.LabelFor(x => x.idPremio, "Premio", new { @class = "col-sm-4 col-form-label" })
        <div class="col-sm-8">
            @Html.DropDownListFor(x => x.idPremio, prem, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.idPremio)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.rango, "Rango", new { @class = "col-sm-4 col-form-label" })
        <div class="col-sm-8">
            @Html.DropDownListFor(x => x.rango, rango, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.rango)
        </div>
    </div>
    <div class="col-sm-8 offset-sm-2">
        <button type="submit" class="btn btn-outline-primary">@ViewBag.Btn</button>
    </div>
}
    </div>
</div>



